# MAKE RULE FOR PHP HIDING
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php/${escape:$0} [L]

# ANTI INDEX OF
Options -Indexes


# THIS HTACCESS WAS NOT AUTO GENERATED
# CREATED BY : UBAII ID